#testDiv1 {
  width: 10%;
  font-size: 1em;
  padding: 1em;
  margin: 2em;
  float:left;

}

#testDiv2 {
  width: 30%;
  font-size: 1em;
  padding: 1em;
  margin: 2em;
  float:right;
}

#testDiv3 {
  width: 10%
  font-size: 1em;
  padding: 1em;
  margin: 2em;
  float: inherit;
}

#list1 {
  list-style: none;
  border: red solid;
  padding: 0px;
}

#list1 li {
  border: dashed black;
  padding: 10px;
  width: 200px;
  margin: 20px;
  display: inline-block;

}

#testDivPosition {
  position: absolute;
  right: 100px;
  bottom: 0px;
}
